//- header nav
mixin head-nav(links)
  ul.nav.navbar-nav
    each val in links
      li(data-menuanchor=val.code)
        a(href='#'+val.code)=val.name

mixin p1-name-info(name, position)
  .row
    .col-sm-offset-8.col-ms-4.peronal-info
      p(class="p1-name")=name
      p(class="p1-position")=position

mixin p1-head-img(imgUrl, name)
  .img-wrap
    img(src=imgUrl alt="My name is"+name)

mixin p1-intro-content(info, infotitle)
  .p1-left
    h3=infotitle
    p=info


mixin contact-list(title, contactinfo)
  .p1-right
    h3=title
    ul
      each val in contactinfo
        li
          span(class="contact-icon glyphicon glyphicon-"+val.type aria-hidden="true")
          span=val.val

mixin p1-name-position(perinfo)
  .col-sm-6.text-right
    h3 基本
    p
      span(class="base-info-0")=perinfo[0]
      span=perinfo[1]
    p=perinfo[2]

mixin p1-base-info(perinfo)
  .col-sm-6.text-left
    h3 信息
    each val in perinfo
      p=val

mixin education-list()
  h3 教育背景

mixin project-experience(info)
  h3 项目经验

mixin work-experience(info)
  h3 工作经历

mixin skill-list()
  h3 职业技能

mixin hobbies-list()
  h3 兴趣爱好




    