//- header nav
mixin head-nav(links)
  ul.nav.navbar-nav
    each val in links
      li(data-menuanchor=val.code)
        a(href='#'+val.code)=val.name

mixin p1-name-info(name, position)
  .row
    .col-sm-offset-8.col-ms-4.peronal-info
      p(class="p1-name")=name
      p(class="p1-position")=position

mixin p1-head-img(imgUrl, name)
  .img-wrap
    img(src=imgUrl alt="My name is"+name)

mixin p1-intro-content(info, infotitle)
  .p1-left
    h3=infotitle
    p=info


mixin contact-list(title, contactinfo)
  .p1-right
    h3=title
    ul
      each val in contactinfo
        li
          span(class="contact-icon glyphicon glyphicon-"+val.type aria-hidden="true")
          span=val.val

mixin p1-name-position(perinfo)
  .col-sm-6.text-right
    h3 基本
    p
      span(class="base-info-0")=perinfo[0]
      span=perinfo[1]
    p=perinfo[2]

mixin p1-base-info(perinfo)
  .col-sm-6.text-left
    h3 信息
    each val in perinfo
      p=val

mixin education-list(info)
  .col-sm-12
    h3 教育背景
  .col-sm-12.project-detail
    each val in info
      .project-singel
        .col-sm-offset-1.col-sm-3=val.schoolname 
        .col-sm-4=val.subject
        .col-sm-4=val.duringtime
        .col-sm-12=val.others

mixin project-experience(info)
  .col-sm-12
    h3 项目经验
  .col-sm-12.project-detail
    each val in info
      .project-singel
        .col-sm-offset-1.col-sm-2 项目名称：
        .col-sm-8=val.projectname 
        .col-sm-offset-1.col-sm-2 项目描述：
        .col-sm-8=val.projectdesc

mixin work-experience(info)
  .col-sm-12
    h3 工作经历
  .col-sm-12.project-detail
    each val in info
      .project-singel
        .col-sm-offset-1.col-sm-2 公司名称：
        .col-sm-4=val.workname 
        .col-sm-5=val.workpos
        .col-sm-offset-1.col-sm-2 详细描述：
        .col-sm-8=val.workdesc

mixin skill-list(info)
  .col-sm-12
    h3 职业技能
  each val in info
    .col-sm-6.skill-singel
      .col-sm-4=val.name
      .col-sm-8.out-line
        div(class="hied-score-hander hide-score-"+val.score)
      
mixin hobbies-list(info)
  .col-sm-12
    h3 兴趣爱好
  each val in info
    .col-sm-6.skill-singel
      .col-sm-12=val.name




    